<?xml version="1.0"?>
<configuration>

  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ScanPmrService.Service.ScanPmrService"
                  behaviorConfiguration="MyServiceBehavior">

        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="secureHttpBinding"
                  contract="ScanPmrService.Service.IScanPmrService"/>

        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name ="secureHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            <security mode="Transport">
            <transport clientCredentialType="None"/>
            </security>
          </binding>
        
 
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" policyVersion ="Policy12"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>

<!--<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.0"/>

  </system.web>
  <system.serviceModel>
    <services>
      <service name="ScanPmrService.Service.ScanPmrService">
        <endpoint address=""
        binding="webHttpBinding"
        contract="ScanPmrService.Service.IScanPmrService"
        bindingConfiguration="ApiQuotaBinding"
        behaviorConfiguration="webHttpBehavior"/>
      </service>
    </services>
    <bindings>
      
      
      <webHttpBinding>
        
        <binding name="ApiQuotaBinding" maxReceivedMessageSize="1048576000"
        maxBufferPoolSize="1048576000" maxBufferSize="1048576000" closeTimeout="00:03:00"
        openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00">
          <readerQuotas maxDepth="32" maxStringContentLength="104857600"
          maxArrayLength="1048576000" maxBytesPerRead="1048576000" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>-->
<!--<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>

  </system.web>
  <system.serviceModel>
    <services>
      <service name="ScanPmrService.Service.ScanPmrService">
        <endpoint address=""
        binding="webHttpBinding"
        contract="ScanPmrService.Service.IScanPmrService"
        bindingConfiguration="ApiQuotaBinding"
        behaviorConfiguration="webHttpBehavior"/>
      </service>
    </services>
    <bindings>
      -->
<!-- Customizations for REST service -->
<!--
      <webHttpBinding>
        -->
<!-- Limits set to 10 MB (specified value in bytes) -->
<!--
        <binding name="ApiQuotaBinding" maxReceivedMessageSize="1048576000"
        maxBufferPoolSize="1048576000" maxBufferSize="1048576000" closeTimeout="00:03:00"
        openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00">
          <readerQuotas maxDepth="32" maxStringContentLength="104857600"
          maxArrayLength="1048576000" maxBytesPerRead="1048576000" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>-->
