<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IScanPmrService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="https://10.195.186.22/Service/ScanPmrService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScanPmrService"
                contract="ServiceReferencePmr.IScanPmrService" name="BasicHttpBinding_IScanPmrService" />
        </client>
    </system.serviceModel>
</configuration>
